.header .datepicker input {
    width: 500px;
}

.customer-loader-card {
    height: 345px;
}

.customer-status-card .chart {
    padding: 15px 0px 15px 0px;
}

.customer-status-card .percentage {
    position: absolute;
    top: 74px;
    left: 102px;
    text-align: center;
    width: 100px;
}

.customer-error-card p {
    word-wrap: break-word;
}

.settings .field {
    height: 100%;
}

.settings textarea {
    width: 100%;
    height: 80vh !important;
    min-height: 80vh !important;
    max-height: 80vh !important;
}

