<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mango - Jira Dashboard</title>

    <link rel="stylesheet" type="text/css" href="/Content/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/Site.css">
</head>
<body>
<div class="container body-content">
    @RenderBody()
</div>
    <script src="/Content/semantic/dist/semantic.min.js"></script>
</body>
</html>
